<div class="panel panel-default">
  <div class="panel-heading">{{ element.name }}</div>
  <div class="panel-body">
    <!--ng directives, that is placed as component, mark the position to insert 
      content in the middle of this component
    -->
    <ng-content></ng-content>

    <!--
      Creating our directives in appBetterHighlight.
      Binding to our directives in highlightColor.

      appBetterHighlight='yellow' works similar
    -->
    <p [appBetterHighlight]="'yellow'" [highlightColor]="'red'">
      Style me with basic directives
    </p>
  </div>
</div>